<center>
        <a href="https://colab.research.google.com/drive/12B1VK-QLECECe-GpIhRRXFbqoSLxXGj5#scrollTo=xEUsse99e8Tj" target="_parent">
        <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
        </a>
</center>

# <center><b>Control Flow - Python Statement</b></center>

## **`if` `elif` & `else`**

```python
if test expression:
    statement(s)
```

In [ ]:
hungry = True 

if hungry:
    print('Feed Me!')
else:
    print('I m not hungry')

Feed Me!

In [ ]:
loc = 'Auto shop'

if loc == 'Auto shop':
    print('Cars are cool!')
elif loc == 'Bank':
    print('Monry is cool!')
elif loc == 'Store':
    print('Welcome to the Store!')
else:
    print('I do not know the much')

Cars are cool!

In [ ]:
# If the number is positive, we print an appropriate message
num = 3
if num > 0:
    print(num, "is a positive number.")

print("This is always printed.")       # as its outside the loop

num = -1
if num > 0:
    print(num, "is a positive number.")

print("This is also always printed.")  # as its outside the loop

3 is a positive number.
This is always printed.
This is also always printed.

## **`for` Loop**

In [ ]:
# Iterating through the list
mylist = [1, 2, 3, 4, 5]

for num in mylist:
    print(num, end='  ')

1  2  3  4  5

In [ ]:
mylist = [1, 2, 3, 4, 5]

for num in mylist:
    print('Hello!')

Hello!
Hello!
Hello!
Hello!
Hello!

In [ ]:
# Printing odd and even number of a list

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for num in my_list:
    if num % 2 == 0:
        print(f'even Number: {num}')
    else:
        print(f'odd Number:  {num}')

odd Number:  1
even Number: 2
odd Number:  3
even Number: 4
odd Number:  5
even Number: 6
odd Number:  7
even Number: 8
odd Number:  9
even Number: 10

In [ ]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

list_sum = 0   

for num in my_list:
    list_sum = list_sum + num
    print(list_sum, end = ', ')

1, 3, 6, 10, 15, 21, 28, 36, 45, 55,

- [How to remove last comma from `print(string, end=“, ”)`](https://newdevzone.com/posts/how-to-remove-last-comma-from-printstring-end)

- [Why the we initlized the `sum=0`](https://stackoverflow.com/questions/56191112/i-dont-understand-the-why-is-sum-0)

In [ ]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

list_sum = 0

for num in my_list:
    list_sum = list_sum + num
    print(list_sum, end = ', ')

print("\b\b ") # This removes the last comma.
               # \b is considered as an escape sequence in python
               # It's is a Non-Graphic character used to replicate backspace

1, 3, 6, 10, 15, 21, 28, 36, 45, 55, 

**Iterating through string**

In [ ]:
mystring = 'APPLE'
for letter in mystring:
     print(letter, end =' ')

A P P L E

In [ ]:
for _ in 'ICE':
    print('Cool!')

Cool!
Cool!
Cool!

**Iteration through Tuple**

In [ ]:
tup = (1, 2, 3)
for item in tup:
    print(item)

1
2
3

**Tuple Un-packing**

In [ ]:
mylist_1 = [(1,2), (3,4), (5,6), (7,8)]

for (a,b) in mylist_1:
    print(a)

1
3
5
7

In [ ]:
my_list_1 = [(1,2,3), (4,5,6), (7,8,9)]

for (a,b,c) in my_list_1:
    print(a, c)

1 3
4 6
7 9

**Iteration through a dictionary**

$\color{red}{\textbf{Note}}$ By default we iterate through Keys

In [ ]:
dict_1 = {'k1': 1, 'k2': 2, 'k3': 3}

for i in dict_1.items():
    print(i)

('k1', 1)
('k2', 2)
('k3', 3)

`keys`

In [ ]:
dict_1 = {'k1': 1, 'k2': 2, 'k3': 3}

for (keys, values) in dict_1.items():
    print(keys)

k1
k2
k3

In [ ]:
dict_1 = {'k1': 1, 'k2': 2, 'k3': 3}

for (keys, values) in dict_1.items():
    print(values)

1
2
3

## **`while` loop**

In [ ]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x += 1
else:
    print('x is Not less then 5')

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
x is Not less then 5

## **`break, continue, pass`**

`pass` - *Do nothing at all*


>Programer sometimes keep it as a `placeholder` to avoide errors to fill it later when working on the larger codes.

In [ ]:
x = [1,2,3]
 
for items in x:
    pass

__`continue`__

In [ ]:
mystring = 'faizy'

for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

f
i
z
y

**`break`**

In [ ]:
x = 0

while x < 5:
    if x == 3:
        break
    print(x)
    x += 1

0
1
2

In [ ]:
my_list = [1, 2, 3, 4, 5]

for num in my_list:
    if num == 2:
        continue
    if num == 4:
        break
    print(num)

1
3

## **Useful Operators in Python**

**`range`** **operater**

In [ ]:
for num in range(0, 10, 2):
    print(num)

0
2
4
6
8

**Genrating the `list` of number**

In [ ]:
list(range(0, 20, 3))

[0, 3, 6, 9, 12, 15, 18]

`Enumertate`

In [ ]:
my_string = 'abcde'
index_count = 0

for letter in my_string:
    print('At index {} the letter is {}'.format(index_count, letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [ ]:
word = 'APPLE'
index_counts = 0

for letter in word:
    print(word[index_counts])
    index_counts += 1

A
P
P
L
E

`enumerate` function is an **index counter** and a **function** itself.

In [ ]:
word = 'abcde'
for items in enumerate(word):
    print(items)             # Return the tuples

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [ ]:
word = 'CAT'
for (index, letter) in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
C


1
A


2
T

**Zip function** - zips the two list together

In [ ]:
mylist1 = [1,2,3,4]       
mylist2 = ['a', 'b', 'c']

for items in zip(mylist1, mylist2):

#the output will ignore everything that is extra & zip the shortest
    print(items)

(1, 'a')
(2, 'b')
(3, 'c')

In [ ]:
# To check wether the object is presrnt in the list/dict

'a' in ['a', 'b', 'c']
'k1' in {"k1":11, 'k2':22, 'k3':33}

True

In [ ]:
d = {"k1":11, 'k2':22, 'k3':33}
11 in d.values()

True

In [ ]:
list_x = [10,20,30,40,50,100,101]
print(min(list_x))
print(max(list_x))

10
101

__`Random`__ library

In [ ]:
from random import shuffle
mylist_x = [1,2,3,4,5,6,7,8,9,10]
shuffle(mylist_x)
print(mylist_x)

[6, 3, 1, 9, 2, 10, 7, 4, 8, 5]

In [ ]:
from random import randint

mynum = randint(0,100)
print(mynum)

60

In [ ]:
# input function 
result = input('Favorite Number:')
type(result)
print(int(result))

Favorite Number:7
7

## **List Comprehensions**

In [ ]:
# Appending the item to the list
  
mystring = 'Hello'
mylist = []

for letter in mystring:
    mylist.append(letter)
print(mylist)

['H', 'e', 'l', 'l', 'o']

In [ ]:
# List Comprehensions -- flatning the for loop 
string_n ='FAIZY'
mylist_n = [letter for letter in string_n]
print(mylist_n)

['F', 'A', 'I', 'Z', 'Y']

In [ ]:
list_n = [x for x in 'word']
print(list_n)

['w', 'o', 'r', 'd']

In [ ]:
mylist = [num**2 for num in range(0,11)]
print(mylist)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# printing the even number in the flaten for loop

mylist = [x**2 for x in range(0,11) if x%2 == 0]
print(mylist)

[0, 4, 16, 36, 64, 100]

In [ ]:
# fahrenheit to celcius
celcius = [0, 10, 20, 34.5, 100]
fahrenheit = [((9/5)*temp +32) for temp in celcius]
print(fahrenheit)

[32.0, 50.0, 68.0, 94.1, 212.0]

In [ ]:
celcius = [0, 10, 20, 34.5, 100]
fahrenheit = []

for temp in celcius:
    fahrenheit.append((9/5)*temp +32)
print(fahrenheit)

[32.0, 50.0, 68.0, 94.1, 212.0]

In [ ]:
mylist = []

for x in [1, 2, 3]:
    for y in [2, 3, 4]:
        mylist.append(x**y)
print(mylist)

[1, 1, 1, 4, 8, 16, 9, 27, 81]

### $\color{skyblue}{\textbf{Connect with me:}}$


[<img align="left" alt="codeSTACKr | Twitter" width="22px" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/twitter.svg" />][twitter]
[<img align="left" alt="codeSTACKr | LinkedIn" width="22px" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/linkedin.svg" />][linkedin]
[<img align="left" alt="codeSTACKr.com" width="22px" src="https://raw.githubusercontent.com/iconic/open-iconic/master/svg/globe.svg" />][StackExchange AI]

[twitter]: https://twitter.com/F4izy
[linkedin]: https://www.linkedin.com/in/mohd-faizy/
[StackExchange AI]: https://ai.stackexchange.com/users/36737/cypher


---